#kembawal-nov1-c:target,
#kembawal-nov1-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kembawal-nov2-c:target,
#kembawal-nov2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#peroant-nov5-c:target,
#peroant-nov5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#jeffgre-nov5-c:target,
#jeffgre-nov5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#tobiashar-nov5-c:target,
#tobiashar-nov5-c:hover {
    background: #00db00;
    transform: translateX(-25px);
}

#gordonhay-nov5-c:target,
#gordonhay-nov5-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#paulpie-nov5-c:target,
#paulpie-nov5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#paulmil-nov7-c:target,
#paulmil-nov7-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#sergeiba-nov7-c:target,
#sergeiba-nov7-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#isaiahtho-nov7-c:target,
#isaiahtho-nov7-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#courtneylee-nov8-c:target,
#courtneylee-nov8-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kawahileo-nov8-c:target,
#kawahileo-nov8-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kawahileo-nov8-2-c:target,
#kawahileo-nov8-2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#brandonjen-nov9-c:target,
#brandonjen-nov9-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#treybur-nov12-c:target,
#treybur-nov12-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#zachran-nov13-c:target,
#zachran-nov13-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#mcw-nov14-c:target,
#mcw-nov14-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#treybur-nov14-c:target,
#treybur-nov14-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#manugin-nov15-c:target,
#manugin-nov15-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#rodneystu-nov19-c:target,
#rodneystu-nov19-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#courtneylee-nov13-c:target,
#courtneylee-nov13-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#solomonhil-nov19-c:target,
#solomonhil-nov19-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#reggiejac-nov21-c:target,
#reggiejac-nov21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#montaeli-nov22-c:target,
#montaeli-nov22-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kembawal-nov23-c:target,
#kembawal-nov23-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#aljef-nov23-c:target,
#aljef-nov23-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#gordonhay-nov24-c:target,
#gordonhay-nov24-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kobebry-nov28-c:target,
#kobebry-nov28-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#tyrekeeva-nov29-c:target,
#tyrekeeva-nov29-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#gordonhay-dec1-c:target,
#gordonhay-dec1-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#derrickro-dec2-c:target,
#derrickro-dec2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#daninlogal-dec2-c:target,
#daninlogal-dec2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#stephcur-dec2-c:target,
#stephcur-dec2-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#joejohn-dec3-c:target,
#joejohn-dec3-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#montael-dec3-c:target,
#montael-dec3-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#chasebud-dec5-c:target,
#chasebud-dec5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#davidwe-dec5-c:target,
#davidwe-dec5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kembaw-dec5-c:target,
#kembaw-dec5-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#bradleyb-dec10-c:target,
#bradleyb-dec10-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#nikstau-dec9-c:target,
#nikstau-dec9-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#victorola-dec10-c:target,
#victorola-dec10-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kobebryant-dec12-c:target,
#kobebryant-dec12-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#tobiashar-dec13-c:target,
#tobiashar-dec13-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#timdun-dec12-c:target,
#timdun-dec12-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#khrismid-dec15-c:target,
#khrismid-dec15-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#cjmile-dec17-c:target,
#cjmile-dec17-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#marcgas-dec17-c:target,
#marcgas-dec17-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#demarcusc-dec17-c:target,
#demarcusc-dec17-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#jjredd-dec19-c:target,
#jjredd-dec19-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kobebryant-dec19-c:target,
#kobebryant-dec19-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#cjmiles-dec20-c:target,
#cjmiles-dec20-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#russellwes-dec21-c:target,
#russellwes-dec21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#sergeib-dec21-c:target,
#sergeib-dec21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#jaredsull-dec26-c:target,
#jaredsull-dec26-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#cjwatson-dec29-c:target,
#cjwatson-dec29-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#dwanyew-dec29-c:target,
#dwanyew-dec29-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#blakegrif-dec23-c:target,
#blakegrif-dec23-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#tyrekeev-dec31-c:target,
#tyrekeev-dec31-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#anthonymo-dec31-c:target,
#anthonymo-dec31-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#ericbledsoe-dec31-c:target,
#ericbledsoe-dec31-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#timdun-dec31-c:target,
#timdun-dec31-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kobebry-jan2-c:target,
#kobebry-jan2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#royhib-jan4-c:target,
#royhib-jan4-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#brandonjen-jan6-c:target,
#brandonjen-jan6-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#andrewwig-jan7-c:target,
#andrewwig-jan7-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#evanfou-jan7-c:target,
#evanfou-jan7-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#brooklop-jan9-c:target,
#brooklop-jan9-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kcp-jan9-c:target,
#kcp-jan9-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#davidwe-jan10-c:target,
#davidwe-jan10-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kobebry-jan13-c:target,
#kobebry-jan13-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#brandonjen-jan16-c:target,
#brandonjen-jan16-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#mariocha-jan21-c:target,
#mariocha-jan21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#johnwal-jan21-c:target,
#johnwal-jan21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kevindur-jan21-c:target,
#kevindur-jan21-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#evantur-jan22-c:target,
#evantur-jan22-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#brandonkni-jan22-c:target,
#brandonkni-jan22-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#jameshar-jan23-c:target,
#jameshar-jan23-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#cjwats-jan23-c:target,
#cjwats-jan23-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#montaeli-jan25-c:target,
#montaeli-jan25-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#paulpie-jan25-c:target,
#paulpie-jan25-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#derrickros-jan27-c:target,
#derrickros-jan27-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#matthewde-jan5-c:target,
#matthewde-jan5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kevinlov-jan5-c:target,
#kevinlov-jan5-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#gregmon-jan9-c:target,
#gregmon-jan9-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#andredru-jan16-c:target,
#andredru-jan16-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#tyrekeeva-jan18-c:target,
#tyrekeeva-jan18-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#zazapa-jan22-c:target,
#zazapa-jan22-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#jarretja-feb2-c:target,
#jarretja-feb2-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#markieffm-feb2-c:target,
#markieffm-feb2-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#norrisco-feb4-c:target,
#norrisco-feb4-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#anthonyda-feb6-c:target,
#anthonyda-feb6-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#brianrob-feb8-c:target,
#brianrob-feb8-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#nikolavu-feb8-c:target,
#nikolavu-feb8-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#demarcusc-feb8-c:target,
#demarcusc-feb8-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#marcobel-feb9-c:target,
#marcobel-feb9-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#evantur-feb11-c:target,
#evantur-feb11-c:hover {
    background-color: #00db00;
    transform: translateX(-25px);

}

#johnwal-feb11-c:target,
#johnwal-feb11-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#kylelow-feb23-c:target,
#kylelow-feb23-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#dwaynew-feb27-c:target,
#dwaynew-feb27-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}

#tobiasha-feb8-c:target,
#tobiasha-feb8-c:hover {
    background-color: #db0000;
    transform: translateX(-25px);

}
